.bold-label {
    font-weight: bold;
}
/* Estilos de la tabla de información personal */
.personal-information .patient-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.personal-information .patient-info-table th,
.personal-information .patient-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.personal-information .patient-info-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.personal-information .patient-info-table td:nth-child(1),
.personal-information .patient-info-table td:nth-child(3) {
    background-color: rgba(0, 123, 255, 0.4); /* Color distinto para las columnas 1 y 3 */
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .personal-information .patient-info-table,
    .personal-information .patient-info-table thead,
    .personal-information .patient-info-table tbody,
    .personal-information .patient-info-table th,
    .personal-information .patient-info-table td,
    .personal-information .patient-info-table tr {
        display: block;
    }

    .personal-information .patient-info-table thead tr {
        display: none;
    }

    .personal-information .patient-info-table td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .personal-information .patient-info-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }

    .personal-information .patient-info-table tr {
        margin-bottom: 10px;
    }
}

/* Estilos de Bootstrap para pantallas mayores a 601px */
@media screen and (min-width: 601px) {
    .personal-information .patient-info-table {
        @apply .table .table-striped .table-bordered;
    }
}