.medical-form-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-width: 140px;
}

header h1 {
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}

section {
  margin-bottom: 20px;
}

section h3 {
  color: #2c3e50;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho total */
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 14px;
  width: 80%; /* Ajusta el ancho del botón */
  max-width: 330px; /* Ajusta el ancho máximo del botón */
  margin-left: auto; /* Centra el botón horizontalmente */
  margin-right: auto; /* Centra el botón horizontalmente */
}

.btn {
  height: 45px;
  background-image: linear-gradient(to bottom right, #34aaf3, #3e3e3e);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #fbfbfb;
  font-weight: 600;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.required-field {
  color: red;
  margin-left: 5px;
}

select:invalid {
  background-image: linear-gradient(to right, rgb(236, 236, 236), rgba(255, 255, 255, 0.67));
}

input:invalid {
  background-image: linear-gradient(to right, rgb(228, 228, 228), rgba(255, 255, 255, 0.67));
}

.input-box {
  position: relative;
  margin: 25px 0;
}


.logo {
  zoom: 1.5; /* Increase the max-width to enlarge the logo */
}