body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Toastify styles alert*/
.Toastify__toast--error {
  background-color: #f44336;
  color: white;
  font-weight: bold;
}
.Toastify__toast--success {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
.Toastify__toast--info {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
}
.Toastify__toast--warning {
  background-color: #ff9800;
  color: white;
  font-weight: bold;
}
