.lista-flotante {
  position: absolute; /* o fixed si quieres que siga la ventana */
  top: 50px; /* Ajusta según la posición deseada */
  left: 20px; /* Ajusta según la posición deseada */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  width: 100px; /* Ajusta el ancho si es necesario */
}

.lista-flotante ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-flotante li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.lista-flotante li:last-child {
  border-bottom: none;
}
