.odontograma-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.odontograma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.rowOdonto {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.tooth {
  position: relative;
  cursor: pointer;
  width: 10%; /* Adjust as needed */
  min-width: 50px; /* Ensure a minimum size */
}

.tooth-label {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 1vw; /* Use relative units */
}

.tooth-fragment {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 1px solid #000;
}

.top-left, .top-right, .bottom-left, .bottom-right {
  border-radius: 50%;
}

.central-circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
}

.vertical-line {
  border-left: 1px solid black;
  width: 1px;
  background-color: black;
  margin: 0 10px; /* Ajusta el margen según sea necesario */
}

.optionTooth {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  padding: 5px;
  z-index: 1088;
  /* Added a box-shadow property for the shadow effect */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}